<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black; color: white;">
<footer class="page-footer font-small teal pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-3 mt-md-0 mt-3" style="text-align: right;">
            <h4 class="text-uppercase font-weight-bold">OUR COMPANY</h4>
              <h6><a routerLink='/aboutus' style="color: white;">ABOUT US</a></h6>
              <h6><a routerLink='/contactus' style="color: white;">CONTACT US</a></h6>
          </div>
        
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3" style="text-align: center;">
            <h4 class="text-uppercase font-weight-bold" style="text-align: center;">PRODUCTS</h4>
            <h6><a routerLink='/furnitures' style="color: white;">FURNITURES</a></h6>
            <h6><a routerLink='/walldecors' style="color: white;">WALL DECORS</a></h6>
            <h6><a routerLink='/woodenitems' style="color: white;">WOODEN ITEMS</a></h6>
            <h6><a routerLink='/homefurnishings' style="color: white;">HOME FURNISHING</a></h6>
            <h6><a routerLink='/electronics' style="color: white;">ELECTRONICS</a></h6>
            <h6><a routerLink='/diningitems' style="color: white;">DINING ITEMS</a></h6>
            <h6><a routerLink='/kitchenware' style="color: white;">KITCHENWARE</a></h6>
            <h6><a routerLink='/decorationitems' style="color: white;">DECORATION ITEMS</a></h6>
            <h6><a routerLink='/bathroomaccessories' style="color: white;">BATHROOM ACCESSORIES</a></h6>
        </div>
        <div class="col-md-3 mb-md-0 mb-3" style="text-align: left;">
            <h4 class="text-uppercase font-weight-bold">STORE INFORMATION</h4>
            <h6>LAVANYA HOME DECORS</h6>
            <h6>PLOT NO:116,FLAT NO:501</h6>
            <h6>SRAVYA RESIDENCY,SRINIVASA NAGAR COLONY</h6>
            <h6>NIZAMPET,HYDERABAD,500090</h6>
            <h6>INDIA</h6>
            <h6>CALL US AT:9515287784</h6>
        </div>
        <div class="col-md-3 mt-md-0 mt-3" style="text-align: center;">
            <h4 class="text-uppercase font-weight-bold">personal INFORMATION</h4>
            <h6><a routerLink='/login' style="color: white;">LOG IN</a></h6>
            <h6><a routerLink='/signup' style="color: white;">SIGN UP</a></h6>
        </div>
       </div>
    </div>
    <div class="socialmedia" style="text-align: center;">
        <a style="margin: 20px 25px;" href="https://instagram.com/yadlapallylavanya12?utm_medium=copy_link"><i class="fab fa-instagram"></i></a>
        <a style="margin: 20px 25px" href="mailto:yadlapallylavanya12@gmail.com"><i class="fas fa-mail-bulk"></i></a>
        <a style="margin: 20px 25px;" href="https://www.facebook.com/lavanya.yadlapalli.5"><i class="fab fa-facebook"></i></a>
        <a style="margin: 20px 25px;" href="https://youtube.com/channel/UC_5DhQny_ioJlCzL_s2rV_w"><i class="fab fa-youtube"></i></a>
        <a style="margin: 20px 25px;" href="https://twitter.com/udaykumar1252?s=09"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Lavanya Home Decors
    </div>
</footer>
</body>
</html>
