<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>FURNITURES</h1> 
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/dressingtable2.png" alt="no img" class="img">
        </div>
        <div class="card-body">BLACK MODERN DRESSING TABLE</div>
        <div class="card-footer">10,500.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/chairs2.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">COMFORTABLE PLASTIC CHAIRS</div>
       <div class="card-footer">650.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/sofa2.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">LEPIDIUM SOFA</div>
       <div class="card-footer">74,579.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/bed2.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">SOLID WOOD BED</div>
        <div class="card-footer">30,000.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/diningtable2.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">4-SEATER CHEX MODEL GLASS DINING TABLE</div>
        <div class="card-footer">20,000.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/sofa1.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">3 CLASSIC SEATER FABRIC SOFA</div>
        <div class="card-footer">75,000.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/bed1.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">AARSUN ROYAL BED WITH SIDE TABLES</div>
       <div class="card-footer">70,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/diningtable1.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">3D MODEL WOODEN DINING TABLE SET</div>
       <div class="card-footer">32,000.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/chairs1.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">SET OF 2 PLASTIC CHAIRS WITH CUSHION</div>
        <div class="card-footer">5,609.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/dressingtable1.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">DEZINE ENGINEERED WOOD DRESSING TABLE</div>
        <div class="card-footer">17,950.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/dressingtable3.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">WOODEN DRESSING TABLE</div>
        <div class="card-footer">9,000.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/chairs3.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">HOME PLASTIC CHAIR WITH ARMS</div>
       <div class="card-footer">350.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/sofa3.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">SOLID WOOD 3-SEATER WOODEN SOFA</div>
       <div class="card-footer">16,999.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/bed3.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">DESIGNER WOODEN DOUBLE BED</div>
        <div class="card-footer">42,000.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/diningtable3.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">ROUND DINING TEAK WOOD AND CHAIRS</div>
        <div class="card-footer">50,000.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/sofa4.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">BEST QUALITY CHAISE LOUNGE FURNITURE</div>
        <div class="card-footer">32,760.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/bed4.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">LOW HEIGHT BED WITH SIDE TABLES</div>
       <div class="card-footer">30,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/diningtable4.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">HOTEL WEDDING GLASS DINING TABLE SET</div>
       <div class="card-footer">40,000.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/chairs4.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">LEISURE WING CHAIR IN RED COLOUR</div>
        <div class="card-footer">21,900.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/dressingtable4.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">WHITE MODERN DRESSING TABLE</div>
        <div class="card-footer">20,000.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/dressingtable5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">WOODEN DRESSING TABLE SETS</div>
        <div class="card-footer">5,381.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/chairs5.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">EPSINO SOLID WOOD ACCENT CHAIR</div>
       <div class="card-footer">18,891.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/sofa5.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">WOODEN SOFA SET OF 5-SEATER - 3+1+1</div>
       <div class="card-footer">30,000.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/bed5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">LUXURIOUS ROUND BED</div>
        <div class="card-footer">80,000.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/diningtable5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">NEW MODEL DINING TABLE SET</div>
        <div class="card-footer">82,000.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/dressingtable6.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">INTERNATIONAL DRESSING TABLE</div>
        <div class="card-footer">5,000.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/chairs6.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">BEST OFFICE CHAIR</div>
       <div class="card-footer">1,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/sofa6.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">JAIPUR FOAM AND WOODEN SOFA</div>
       <div class="card-footer">20,000.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/bed6.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">SINGLE BED WITH TRUNDLE</div>
        <div class="card-footer">28,000.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/diningtable6.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">8-SEATER SQUARE DINING TABLE</div>
        <div class="card-footer">45,000.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/sofa7.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">CREAM COLOUR SOFA SET</div>
        <div class="card-footer">22,000.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/bed7.png" alt="no img" class="img">
       </div>
       <div class="card-body">SINGLE BED WITH LOWER STORAGE</div>
       <div class="card-footer">49,500.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/diningtable7.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">6-SEATER ROUND DINING TABLE</div>
       <div class="card-footer">32,000.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/chairs7.png" alt="no img" class="img">
        </div>
        <div class="card-body">DYLAN ROCKING CHAIR</div>
        <div class="card-footer">18,799.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/deessingtable7.png" alt="no img" class="img">
        </div>
        <div class="card-body">OVAL SHAPE MIRROR DRESSING TABLE</div>
        <div class="card-footer">10,000.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/dressingtable8.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">3 MIRROR CORNER DRESSING TABLE</div>
        <div class="card-footer">14,000.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/chairs8.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">SET OF 2 CHARCOAL CHAIRS</div>
       <div class="card-footer">15,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/sofa8.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">ROYALTY FURNITURE</div>
       <div class="card-footer">14,999.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/bed8.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">DECO SINGLE BED WITHOUT STORAGE</div>
        <div class="card-footer">14,764.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/diningtable8.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">12 SEATER OVAL SHAPE DINING SET</div>
        <div class="card-footer">50,000.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/sofa9.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">RED COLOUR 3SEATER SOFA</div>
        <div class="card-footer">11,760.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/bed9.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">BLACK COLOUR SINGLE BED</div>
       <div class="card-footer">30,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/diningtable9.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">10SEATER RIVIERA DINING TABLE</div>
       <div class="card-footer">20,000.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/chairs9.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">WEDDING CHAIR WITH STAINLESS STEAL LEGS</div>
        <div class="card-footer">9,900.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/dressingtable9.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">CORNER DRESSING TABLE WITH 2MIRROR</div>
        <div class="card-footer">10,000.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/dressingtable10.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">4DRAWER MAKEUP VANITY TABLE</div>
        <div class="card-footer">15,000.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/chairs10.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">CUSTOMIZED BALCONY CHAIR</div>
       <div class="card-footer">10,891.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/furnitures/sofa10.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">ORANGE RED SOFA CHAIR</div>
       <div class="card-footer">13,000.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/bed10.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">BED WITH TRUNDLE AND STORAGE BOXES</div>
        <div class="card-footer">50,000.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/furnitures/diningtable10.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">6SEATER MODERN DINING TABLE</div>
        <div class="card-footer">30,000.00 INR</div>
    </div>
</div>
</body>
</html>