<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME FURNISHINGS</h1>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/curtains1.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">POLYESTER WINDOW CURTAIN(3 PCS)</div>
            <div class="card-footer">668.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/carpets1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">LIVING ROOM RED CARPET</div>
           <div class="card-footer">700.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/bedsheets1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">COTTON BEDSHEETS</div>
           <div class="card-footer">950.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/matress1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ORTHOPEDIC MEMORY FOAM MATRESS</div>
            <div class="card-footer">5,961.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwana1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ETHNIC COTTON DIWAN SET</div>
            <div class="card-footer">500.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwana2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ROYAL DIWAN COVERS SET</div>
            <div class="card-footer">800.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/curtains2.jpeg" alt="no img" class="img">
           </div>
           <div class="card-body">DARPAN DOOR CURTAINS</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/matress2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">DUAL FEEL MATRESSES</div>
           <div class="card-footer">13,219.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/carpets2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">POLYESTER FLOOR CARPET</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/bedsheets2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">DOUBLE BEDSHEET(2 PILLOW COVERS)</div>
            <div class="card-footer">1,299.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/curtains3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ROYAL CREAM COLOUR CURTAIN</div>
            <div class="card-footer">1200.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/carpets3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">MULTICOLOUR NYLON 4*6FEET CARPET</div>
           <div class="card-footer">899.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/bedsheets3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">COTTON DOUBLE BEDSHEET</div>
           <div class="card-footer">499.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/matress3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">RISE UP STRONG MATRESS</div>
            <div class="card-footer">9,835.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwana3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GLACE COTTON DIWAN SET</div>
            <div class="card-footer">700.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwana4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PRINTED 8PC DIWAN SET</div>
            <div class="card-footer">900.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/curtains4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PRINTED CURTANS</div>
           <div class="card-footer">600.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/matress4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">QUEEN SIZE MATRESS</div>
           <div class="card-footer">2,499.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/carpets4.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">DESIGNER SHAG CARPET</div>
            <div class="card-footer">55/SQ.FEET</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/bedsheets4.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">COTTON DOUBLE PRINTED BEDSHEET</div>
            <div class="card-footer">500.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/curtains5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CURTAINS FOR ARCHES</div>
            <div class="card-footer">1,200/PC</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/carpets5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PINK CARPET</div>
           <div class="card-footer">700.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/bedsheets5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PRINTED COTTON BEDSHEET</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/matress5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">DUROFLEX LIVOLEN MATRESS</div>
            <div class="card-footer">6,799.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwana5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SWAYAMVEDA PRINTED DIWAN SET</div>
            <div class="card-footer">1,494.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwan6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">COTTON DIWAN SET</div>
            <div class="card-footer">750.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/towels1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">STRIPED BATH TOWELS</div>
           <div class="card-footer">500.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/matress6.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SINGLE MATRESS</div>
           <div class="card-footer">2,299.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/mats1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">WELCOME MAT</div>
            <div class="card-footer">150.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/pillowcovers1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">POLKA PRINTED PILLOW COVERS</div>
            <div class="card-footer">599.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/towels2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">COTTON TOWELS 60*30</div>
            <div class="card-footer">400.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/mats2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">GREY NYLON PLAIN DOOR MAT</div>
           <div class="card-footer">99.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/pillowcovers2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PRNTED 2PILLOW COVERS</div>
           <div class="card-footer">499.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/matress7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">POPS RESTONIC SPRING MATTRESS</div>
            <div class="card-footer">11,076.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwana7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PREMIUM 3D PRINT DIWAN SET</div>
            <div class="card-footer">500.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwana8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HAND WOVEN STRIPED DIWAN SET</div>
            <div class="card-footer">2,500.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/towels3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SOFT HOME TOWELS</div>
           <div class="card-footer">600.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/matress8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SLEEP SPA FOLD MATRESS</div>
           <div class="card-footer">3,199.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/mats3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">COTTON 5 DOORMATS</div>
            <div class="card-footer">500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/pillowcovers3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SILK PLAIN CUSHION COVERS</div>
            <div class="card-footer">1,569.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/towels4.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">MICRO FIBER NAPKIN</div>
            <div class="card-footer">320.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/mats4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PVC SWIMMING POOL MAT</div>
           <div class="card-footer">250.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/pillowcovers4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">EMBROIDERED PILLOW COVERS</div>
           <div class="card-footer">150.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/matress9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">FOLD FOAM MATRESS</div>
            <div class="card-footer">700.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwana9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ANOKHI DIWAN SET</div>
            <div class="card-footer">1,419.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/diwana10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">KALANKARI DIWAN SET</div>
            <div class="card-footer">2,595.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/towels5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">STRIPED CLOTH NAPKIN</div>
           <div class="card-footer">300.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/home furnishings/matress10.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">STARLIGHT FOAM SINGLE MATRESS</div>
           <div class="card-footer">1,500.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/mats5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GORILLA MAT</div>
            <div class="card-footer">600.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/home furnishings/pillowcovers5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">COTTON 40*60 PILLOW COVERS</div>
            <div class="card-footer">747.00 INR</div>
        </div>
    </div>
</body>
</html>
