<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ELECTRONICS</h1>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/tv1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">MI 125.7CM ULTRAHD TV</div>
            <div class="card-footer">38,999.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/fans1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">ATOMBERG BLDC MOTOR WITH REMOTE</div>
           <div class="card-footer">4,072.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/washingmachine1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">FRONT LOAD 7KG</div>
           <div class="card-footer">33,800.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/fridge1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SAMSUNG SIDE BY SIDE FRIDGE</div>
            <div class="card-footer">71,999.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/cooler1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">BAJAJ 67L ROOM COOLER</div>
            <div class="card-footer">10,679.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/weighing machine.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PRISLYN CORE WEIGHING MACHINE</div>
            <div class="card-footer">999.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/lappi1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">LENOVO 9TH GEN INTEL</div>
           <div class="card-footer">61,490.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/cooler2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SYMPHONY AIR COOLER</div>
           <div class="card-footer">5,200.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/weighing machine2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">BODY COMPOSITION MONITOR</div>
            <div class="card-footer">3,299.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/tv2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CRYSTAL 4K SMART TV</div>
            <div class="card-footer">2,09,990.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/lappi2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ACER INTELCORE LAPTOP</div>
            <div class="card-footer">94,999.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/fans2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HARVELLS FESTIVA CEILINGFAN</div>
           <div class="card-footer">2,752.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/washingmachine2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">WHIRLPOOL CLASSIC 6.5KG</div>
           <div class="card-footer">14,990.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/fridge2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SAMSUNG 415L DOUBLEDOOR FRIDGE</div>
            <div class="card-footer">43,990.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/tv3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">LG 80M HD SMART TV</div>
            <div class="card-footer">19,490.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/fans3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ORIENT CEILING FAN</div>
            <div class="card-footer">5,372.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/washingmachine3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SAMSUNG AUTOMATIC FRONT LOAD 6.5KG</div>
           <div class="card-footer">28,992.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/fridge3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">LG 260L INVERTOR</div>
           <div class="card-footer">27,090.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/cooler3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HARVELLSFRESCO COOLER</div>
            <div class="card-footer">7,999.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/weighing machine3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">EASYCARE MANUAL WEIGHING MACHINE</div>
            <div class="card-footer">1,049.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/lappi3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">DELL INSPIRON 13LAPTOP</div>
            <div class="card-footer">76,999.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/cooler4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">KELVINATOR AIR COOLER</div>
           <div class="card-footer">9,490.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/weighing machine4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">WALSONBERG THICK TEMPERED GLASS</div>
           <div class="card-footer">549.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/tv4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PHILIPS ULTRAHD LED</div>
            <div class="card-footer">36,999.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/lappi4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HP PAVILION 11GEN CORE</div>
            <div class="card-footer">66,990.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/fans4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">25INCH CEILING FAN 4BLADES</div>
            <div class="card-footer">1,099.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/washingmacine4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">LG 8KG TOP LOAD</div>
           <div class="card-footer">13,990.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/fridge4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">WHIRLPOOL DOUBLEDOOR FRIDGE</div>
           <div class="card-footer">27,240.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/tv5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">IFFALCON 138.7CM ULTRA HD LED</div>
            <div class="card-footer">36,990.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/fans5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">USHA SWIFT CEILING FAN</div>
            <div class="card-footer">1,738.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/washingmachine5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">6KG AUTOMATIC FRONT LOAD</div>
            <div class="card-footer">19,990.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/fridge5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PANASONIC 592L REFRIDGERATOR</div>
           <div class="card-footer">70,980.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/cooler5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">KENSTAR ICECOOL 60L</div>
           <div class="card-footer">15,039.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/weighing machine5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">MCP DIGITAL WEIGHING MACHINE</div>
            <div class="card-footer">900.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/lappi5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">VIVO 600K S14 INTEL CORE</div>
            <div class="card-footer">65,490.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/geyser1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HARVELLS 3L WATER HEATER</div>
            <div class="card-footer">3,899.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/filter1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HCL PUREIT FILTER</div>
           <div class="card-footer">13,999.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/ac1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SAMSUNG 1.5TON 5IN1 CONVERTIBLE</div>
           <div class="card-footer">41,990.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/mobile1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SAMSUNG GALAXY NOTE20</div>
            <div class="card-footer">54,999.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/ups1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">USHA SWIFT CEILING FAN</div>
            <div class="card-footer">1,738.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/lights1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">6BROWN BODY MODERN LED</div>
            <div class="card-footer">13,999.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/stove1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PIGEON 1800W INDUCTIONSTOVE</div>
           <div class="card-footer">1,399.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/ac2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">LLOYD 1TON INVERTER SPLIT AC</div>
           <div class="card-footer">26,991.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/ups2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">LUMINOUS HOME UPS</div>
            <div class="card-footer">5,941.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/lights2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ANTIQUE WOODEN CEILING LIGHT</div>
            <div class="card-footer">350.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/stove2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PHILIPS INDUCTION STOVE</div>
            <div class="card-footer">3,160.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/geyser2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">BAJAJ 15L WATER GEYSER</div>
           <div class="card-footer">6,899.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/filter2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">AQUAGUARD WATER PURIFIER</div>
           <div class="card-footer">15,490.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/mobile2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">APPLE IPHONE(128GB)</div>
            <div class="card-footer">56,999.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/geyser3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">RACOLD 25L WATER HEATER</div>
            <div class="card-footer">9,980.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/filter3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">LG 8L WATER PURIFIER</div>
            <div class="card-footer">24,999.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/ac3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">VOLTAS ADJUSTABLE INVERTER AC</div>
           <div class="card-footer">39,980.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/mobile3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">ONEPLUS 128GB+8GB</div>
           <div class="card-footer">39,999.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/ups3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">QUANTUM 12V UPS</div>
            <div class="card-footer">1,599.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/lights3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HOME DELIGHT RICE LIGHT</div>
            <div class="card-footer">239.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/stove3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">USHA COOKTOP INDUCTIONSTOVE</div>
            <div class="card-footer">2,099.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/ac4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HAIER TURBOCOOL SPLIT AC</div>
           <div class="card-footer">25,990.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/ups4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">EATON AURORA 1000VA UPS</div>
           <div class="card-footer">10,499.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/lights4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">5W CEILING LIGHT FIXTURE</div>
            <div class="card-footer">1,035.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/stove4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HINDWARE INDUCTION STOVE</div>
            <div class="card-footer">2,706.00 INR</div>
        </div>
    </div>      
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/geyser4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CROMPTON 3L WATER HEATER</div>
            <div class="card-footer">5,799.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/obile4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">OPPO RENO2</div>
           <div class="card-footer">20,349.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/geyser5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">JAQUAR WATER INSTANT HEATER</div>
           <div class="card-footer">3,729.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/filter5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">STELLA 8.2L PURIFIER</div>
            <div class="card-footer">31,399.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/ac5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">TCL 2TONSMART AC</div>
            <div class="card-footer">39,990.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/mobile5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">REAL ME 4GB+64GB</div>
            <div class="card-footer">14,499.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/electronics/ups5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">ZEBRONICS UPS</div>
           <div class="card-footer">6,136.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/electronics/lights5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">VENDOWS YELLOW RICE LIGHT</div>
           <div class="card-footer">327.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/electronics/stove5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PRESTIGE INDUCTION STOVE</div>
            <div class="card-footer">2,299.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/electronics/filter4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HARVELLS ALKALINE PURIFIER</div>
            <div class="card-footer">14,920.00 INR</div>
        </div>
    </div>    
</body>
</html>
