<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DINING ITEMS</h1>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/ricebowls1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SERVING BOWL WITH LID</div>
            <div class="card-footer">1,299.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/spoons1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">24PCS GOLD CUTTLERY SET</div>
           <div class="card-footer">2,499.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/plates1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">CHINA DINNER PLATE</div>
           <div class="card-footer">500.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/currybowls1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">QUICK COCONUT CURRYBOWL</div>
            <div class="card-footer">500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CELLO OZONE PLASTIC WATERBOTTLE</div>
            <div class="card-footer">100/PC</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PLASTIC,STAINLESSSTEEL BOTTLES</div>
            <div class="card-footer">130/PC</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/currybowls2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">COPPER PLATED CURRYBOWL</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/ricebowls2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">29CM BOWL</div>
           <div class="card-footer">349.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/spoons2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">NORDIC STAINLESS STEEL SPOONS</div>
            <div class="card-footer">1,999.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/plates2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ROUND CERAMIC DINNERPLATE</div>
            <div class="card-footer">400.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/ricebowls3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PLASTIC RICEBOWL</div>
            <div class="card-footer">90.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/spoons3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SERVING TOOLS</div>
           <div class="card-footer">1,229.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/plates3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SQUARE DINNER PLATES</div>
           <div class="card-footer">1,500.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/currybowls3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CHICKENPEA CURRYBOWL</div>
            <div class="card-footer">300.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PRESTIGE WATERBOTTLE</div>
            <div class="card-footer">500.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">FLUX WATERBOTTLE SET</div>
            <div class="card-footer">600.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/currybowls4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">FEMORA STAINLESSSTEEL</div>
           <div class="card-footer">500.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/ricebowls4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">BOWL WITH PLASTIC LID</div>
           <div class="card-footer">499.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/spoons4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">18PCS CUTLERY SET</div>
            <div class="card-footer">449.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/plates4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">RED DINNER SET</div>
            <div class="card-footer">2,500.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/ricebowls5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GOLD SERVING BOWL AND LID</div>
            <div class="card-footer">2,990.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/spoons5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">GERMAN SILVER CUTLERY SET</div>
           <div class="card-footer">1,700.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/plates5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">BLACK SQUARE DINNER PLATE</div>
           <div class="card-footer">500.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/currybowls5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">DINNER BOWL</div>
            <div class="card-footer">600.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">BUBBLE DESIGN WAER BOTTLE</div>
            <div class="card-footer">3,300.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">DESIGNER PLASTIC BOTTLE SET</div>
            <div class="card-footer">239.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/currybowls6.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">COPPER SERVING BOWL</div>
           <div class="card-footer">300.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/ricebowls6.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">OVEN SAFE SERVING BOWL</div>
           <div class="card-footer">500.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/spoons6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ANTIQUE SILVER SPOONS,FORK</div>
            <div class="card-footer">1,500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/plates6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">TOP QUALITY CHINA DINNERWARE</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/ricebowls7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CROWNCRAFT STAINLESS STEAL</div>
            <div class="card-footer">700.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/spoons7.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SILVER TEASPOON,FORK SET</div>
           <div class="card-footer">2,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/plates7.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SQUARE RED,YELLOW DINNERWARE</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/currybowls7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">JAPANESE PORK CURRYBOWL</div>
            <div class="card-footer">600.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ROUND PALSTIC WATER BOTTLE</div>
            <div class="card-footer">90/PC</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">MILTON PET WATERBOTTLE SET</div>
            <div class="card-footer">580.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/currybowls8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">CRINOA CURRYBOWL</div>
           <div class="card-footer">700.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/ricebowls8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">AIRTIGHT LID AND BOWL</div>
           <div class="card-footer">637.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/spoons8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">STERLING SILVER BABY SPOON</div>
            <div class="card-footer">2,000.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/plates8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">STAINLESS STEEL DINNER PLATE</div>
            <div class="card-footer">500.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/ricebowls9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">650ML RICEBOWL</div>
            <div class="card-footer">700.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/spoons9.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SILVER FORK,KNIFE,SPOON</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/plates9.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">GREEN PLASTIC PLATES</div>
           <div class="card-footer">600.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/currybowls9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SRILANKAN CURRYBOWL</div>
            <div class="card-footer">600.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">LIFESTRAW WATER BOTTLE</div>
            <div class="card-footer">700.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/bottles10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ANTIQUE PLASTIC WATERBOTTLES</div>
            <div class="card-footer">299.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/dining items/currybowls10.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">INDONESIAN CURRYBOWL</div>
           <div class="card-footer">500.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/dining items/ricebowls10.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">WOODEN SUSHI RICE BOWLS</div>
           <div class="card-footer">200.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/dining items/spoons10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GERMAN SILVER SPOON AND FORK</div>
            <div class="card-footer">2,000.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/dining items/plates10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PINK WHITE PLATES,BOWLS,GLASSES</div>
            <div class="card-footer">5,000.00 INR</div>
        </div>
    </div>
</body>
</html>
