<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WALL DECORS</h1>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/oilpaintings1.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">WATERCOLOUR COMBS OILPAINTING</div>
        <div class="card-footer">800.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallclock1.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">GANESH WALLCLOCK</div>
       <div class="card-footer">399.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallstickers1.jpeg" alt="no img" class="img">
       </div>
       <div class="card-body">PEACOCK WALLSTICKER 36*24 INCH</div>
       <div class="card-footer">75/PIECE</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted1.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">FISH PRINTED WALLHANGING</div>
        <div class="card-footer">5,600.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallframes1.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">COLLAGE SET OF 9 WALLFRAMES</div>
        <div class="card-footer">3,499.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallstickers2.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">3D PVC WALL STICKERS</div>
        <div class="card-footer">40/SQ.FEET</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallframes2.png" alt="no img" class="img">
       </div>
       <div class="card-body">PERSONALISED SET OF 11 PHOTO FRAMES</div>
       <div class="card-footer">3,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/oilpaintings2.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">BIRD PAINTING WITH OIL COLOURS</div>
       <div class="card-footer">700.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallclock2.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">ANTIQUE WALL CLOCK</div>
        <div class="card-footer">550.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted2.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">UNICORN HEAD ORNAMENT</div>
        <div class="card-footer">13,230.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/oilpaintings3.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">3D HANDMADE FLOWERS PAINTING</div>
        <div class="card-footer">4,791.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallclock3.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">MORDERN WALL CLOCK</div>
       <div class="card-footer">500.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallstickers3.joeg.jpeg" alt="no img" class="img">
       </div>
       <div class="card-body">3D STEREO WALLSTICKER PVC</div>
       <div class="card-footer">1,488.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted3.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">PEACOCK WALL HANGING</div>
        <div class="card-footer">1,000.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallframes3.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">PICTURE FRAME SET OF 3 FRAMES</div>
        <div class="card-footer">1,500.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallstickers4.jpeg" alt="no img" class="img">
        </div>
        <div class="card-body">LIVE LAUGH LOVE WALL ART</div>
        <div class="card-footer">630.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallframes4.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">GY COLLAGE PHOTO FRAME</div>
       <div class="card-footer">4,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/oilpaintings4.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">HANDMADE ANIMAL PAINTING</div>
       <div class="card-footer">700.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallclock4.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">PACOCK HANGING WALLCLOCK</div>
        <div class="card-footer">1,000.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted4.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">WALL HANGING SHELF SHOWPIECE</div>
        <div class="card-footer">5,680.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/oilpaintings5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">BUDHA OIL PAINTING</div>
        <div class="card-footer">3,478.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallclock5.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">HOUZZ ROUND MIRROR WALLCLOCK</div>
       <div class="card-footer">3,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallstickers5.jpeg" alt="no img" class="img">
       </div>
       <div class="card-body">ORANGE COLOUR WALLSTICKER</div>
       <div class="card-footer">50/SQ.FEET</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">TIED RIBBONS WALL HANGING</div>
        <div class="card-footer">649.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallframes5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">BLACK AND WHITE WOODEN FRAME SET</div>
        <div class="card-footer">7,917.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallstickers6.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">PENGUIN WALL STICKERS</div>
        <div class="card-footer">75/PIECE</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallframes6.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">WALL ART SET OF 4 FRAMES</div>
       <div class="card-footer">2,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/oilpaintngs6.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">EASY ACRYLIC PAINTING</div>
       <div class="card-footer">500.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmirror1.jpeg" alt="no img" class="img">
        </div>
        <div class="card-body">ROUND GOLDEN FRAMED WALLMIRROR</div>
        <div class="card-footer">4,165.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted6.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">WALL MOUNTED FLOWER TROPIES</div>
        <div class="card-footer">600.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/oilpaintings7.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">FAMOUS,INTERESTING OIL PAINTING</div>
        <div class="card-footer">1,000.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallmirror2.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">AMAZING WALL MIRROR</div>
       <div class="card-footer">3,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallstickers7.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">3D NIGHT SKY CEILING WALL STICKER</div>
       <div class="card-footer">1,624.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted7.jpeg" alt="no img" class="img">
        </div>
        <div class="card-body">WALL MOUNTED KEY HOLDER</div>
        <div class="card-footer">500.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallframes7.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">NORA WALL ART SET OF 3 FRAMES</div>
        <div class="card-footer">3,499.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallstickers8.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">FLOWER WALL STICKER</div>
        <div class="card-footer">1,000.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallframes8.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">VAM ADVENTURE PHOTOFRAME</div>
       <div class="card-footer">700.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/oilpaintings8.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">LARGE ACRYLIC ART PAINTING</div>
       <div class="card-footer">600.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmirror3.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">BEAUTIFUL WOODEN MIRROR</div>
        <div class="card-footer">2,000.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted8.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">WALL MOUNTED LANTERN</div>
        <div class="card-footer">500.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/oilpaintings9.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">TREE AND CLOUD OIL PAINTING</div>
        <div class="card-footer">900.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallmirror4.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">ORIEL WALL MIRROR</div>
       <div class="card-footer">19,394.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallstickers9.jpeg" alt="no img" class="img">
       </div>
       <div class="card-body">VINAYAKA GOLDEN WALL STICKER</div>
       <div class="card-footer">800.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted9.jpeg" alt="no img" class="img">
        </div>
        <div class="card-body">BRASS WALLHANGING ELEPHANT HEAD</div>
        <div class="card-footer">700.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallframes9.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">MY DAD MY HERO PHOTO FRAME</div>
        <div class="card-footer">665.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallstickers10.jpeg" alt="no img" class="img">
        </div>
        <div class="card-body">VINYL WALL WINDOW WALL STICKER</div>
        <div class="card-footer">260.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/wallframes10.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">TURN YOUR PHOTOS INTO WALL ART</div>
       <div class="card-footer">1,000.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src=" assets/wall decors/oilpaintings10.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">BIRD PAINTING WITH OIL COLOURS</div>
       <div class="card-footer">700.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmirror5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">50*30 INCH WALL MIRROR</div>
        <div class="card-footer">3,500.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src=" assets/wall decors/wallmounted10.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">METAL WALL MOUNT HOOK</div>
        <div class="card-footer">1,780.00 INR</div>
    </div>
</div>
</body>
</html>
