<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>KITCHENWARE</h1>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">NON-STICK KITCHEN SET</div>
            <div class="card-footer">1,840.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">6PLASTIC KITCHENSET</div>
           <div class="card-footer">283.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/glasses1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">KITCHEN JUICE GLASS</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/stands1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PANS HOLDER</div>
            <div class="card-footer">1,788.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">EXPRESS FOOD CARRIER</div>
            <div class="card-footer">899.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">OFFICE USE LUNCHBOX</div>
            <div class="card-footer">1,300.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">2 PREMIUM BOX SET</div>
           <div class="card-footer">439.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/stands2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">KITCHENWARE HANGERS</div>
           <div class="card-footer">500.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">NEW MODEL COOKER</div>
            <div class="card-footer">900.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/glasses2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">5 DIFFERENT SHAPE GLASSES</div>
            <div class="card-footer">1,500.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">NONSTICK RICE COOKER</div>
            <div class="card-footer">700.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">STORAGE GLASS JARS</div>
           <div class="card-footer">287.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/kitchenware/glasses3.jpeg" alt="no img" class="img">
           </div>
           <div class="card-body">24DRINKNG WATERGLASSES</div>
           <div class="card-footer">1,600.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/kitchenware/stands3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PLATE,VEGETABLE,PAN RACKS</div>
            <div class="card-footer">500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PLASTIC LUNCH BOX</div>
            <div class="card-footer">50/PC</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GREEN COLOUR LUNCH BOX</div>
            <div class="card-footer">600.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">6AIRTIGHT CONTAINERS</div>
           <div class="card-footer">500.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/stands4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">STEEL KITCHEN STAND</div>
           <div class="card-footer">1,850.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">INDUCTION COOKWARE</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/glasses4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">KITCHEN DRINKING SET</div>
            <div class="card-footer">1,600.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PUFF MAKER</div>
            <div class="card-footer">500.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HOME STORAGE BOXES</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/glasses5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">STAINLESSSTEEL WATERGLASS</div>
           <div class="card-footer">1,300.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/stands5.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">STAINLESSSTEEL PLATE RACK</div>
            <div class="card-footer">500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">TIFFIN CARRIER BOX</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">INSULATED LUNCH BOX</div>
            <div class="card-footer">699.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes6.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">BUTTON STORAGE BOX</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/stands6.jpeg" alt="no img" class="img">
           </div>
           <div class="card-body">FRUIT,VEGETABLE BASKET</div>
           <div class="card-footer">4,000.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">3SHAPES CAKE PAN</div>
            <div class="card-footer">1,250.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/glasses6.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">6TEA GLASS SET</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">BLACK BAKING UTENSIL</div>
            <div class="card-footer">700.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes7.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PANTRY CONTAINERS</div>
           <div class="card-footer">1,200.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/glasses7.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">4PC 300ML GLASSES</div>
           <div class="card-footer">1,260.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/stands7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">STEEL KITCHEN STAND</div>
            <div class="card-footer">1,300.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">RED TRIANGLE LUNCH BOX</div>
            <div class="card-footer">550.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">4PC HOME HOTPACK</div>
            <div class="card-footer">699.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HOME FOOD CONTAINER</div>
           <div class="card-footer">490.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/stands8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">KITCHEN TROLLEY</div>
           <div class="card-footer">9,900.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">IRON COOKWARE</div>
            <div class="card-footer">600.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/glasses8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">COPPER WATERGLASS</div>
            <div class="card-footer">2,000.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">NONSTICK FRYING PAN</div>
            <div class="card-footer">300.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes9.jpeg" alt="no img" class="img">
           </div>
           <div class="card-body">AIRTIGHT BPA FREE CONTAINER</div>
           <div class="card-footer">700.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/glasses9.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">6UNBREAKABLE GLASS SET</div>
           <div class="card-footer">1,900.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/stands9.png" alt="no img" class="img">
            </div>
            <div class="card-body">WALLMOUNTED STORAGE STAND</div>
            <div class="card-footer">700.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GREEN HOT LUNCH PACK</div>
            <div class="card-footer">699.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/carriage10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">4PC LUNCH BOX</div>
            <div class="card-footer">506.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/boxes10.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">AIRTIGHT STORAGE BOXES</div>
           <div class="card-footer">421.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/kitchenware/stands10.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">WALL MOUNTED STEEL RACK</div>
           <div class="card-footer">800.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/cooking10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CARBON WATER BOILER</div>
            <div class="card-footer">200.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/kitchenware/glasses10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">6 WATER GLASSES</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
    </div>
</body>
</html>
