<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="assets/images/aboutus3.jpg" alt="no img" style="height: 600px; width: 90%; margin: 10px 80px 20px 80px;">
<h3><i class="fas fa-bell"></i>CUSTOMER SATISFACTION</h3>
<h6><i class="fas fa-arrow-right"></i>Here at LavanyaHomeDecors, we know how difficult it can be when purchasing online, that's why our company gives maximum priority to customer satisfaction.</h6><br>
<h6><i class="fas fa-arrow-right"></i>Our highly trained staff is ready to assist you with any questions regarding your purchases.</h6><br>
<h6><i class="fas fa-arrow-right"></i>You can be assured that our customers are our main concern when it comes to consumer happiness.</h6> <br>
<h6><i class="fas fa-arrow-right"></i>When you shop at LavanyaHomeDecors you can shop with great confidence that YOU the customer will always be treated with the utmost care and respect.</h6><br> 
<h6><i class="fas fa-arrow-right"></i>Our goal is to provide you with a wonderful experience and keep you coming back for your future furniture purchases.</h6>
<br>
<h3><i class="fas fa-bell"></i>OUR VALUES</h3>
<p><i class="fas fa-arrow-right"></i><b>Customer obsession:</b>Customers are at the center of whatever we do at Urban Ladder. We ensure that we get the right customer solution in all our initiatives. We establish a long-term relationship with every customer and aim to delight them in every interaction. We aim to set the global benchmark for customer happiness scores</p><br>
<p><i class="fas fa-arrow-right"></i><b>Honesty and Transperancy:</b> We are honest, ethical, and trustworthy in the way welive life. We hold the highest standards of corporate governance in all ouractivities. We communicate transparently with all our stakeholders. When we make mistakes, we are honest and upfront about owning up to them.</p><br>
<p><i class="fas fa-arrow-right"></i><b>Action Oriented:</b>We have a bias for action. We empower our teams to takefast and well informed decisions. We continuously iterate and learn from our mistakes. Scale and robustness are built in as we move along.</p><br>
<p><i class="fas fa-arrow-right"></i><b>Stepping up:</b>We take charge, go the extra mile, and think differently to find innovative solutions. When in doubt, we push ourselves harder to solve newer challenges and get better solutions.</p><br>
<p><i class="fas fa-arrow-right"></i><b>Efficiency:</b>We are here to build a long-term sustainable business. We aim to do more with less and focus on zero waste. We believe that a self-sustaining business will be responsible and solve customer problems in the right manner.</p><br>
</body>
</html>