<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DECORATION ITEMS</h1>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/idol1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">DECORATIVE GANESH IDOL</div>
            <div class="card-footer">450.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/decoration items/candles1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">WHITE TEA LIGHT CANDLE</div>
           <div class="card-footer">189.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/decoration items/fountain1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HOME POT FOUNTAIN</div>
           <div class="card-footer">1,500.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/lamp1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">YELLOW COLOUR LAMP</div>
            <div class="card-footer">500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/handmade1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HANDMADE HOME DECOR</div>
            <div class="card-footer">500.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/fountain2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ROSEPETALS BUDHA FOUNTAIN</div>
            <div class="card-footer">2,000.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/decoration items/idol2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">RELIGIOUS GOD IDOL</div>
           <div class="card-footer">380.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/decoration items/handmade2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HANDMADE HANGING FLOWERS</div>
           <div class="card-footer">600.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/candles2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">BUDHA PRINTED CANDLE</div>
            <div class="card-footer">799.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/lamp2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">WOODEN TABLE LAMP</div>
            <div class="card-footer">2,199.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/idol3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">LORD KRISHNA IDOL</div>
            <div class="card-footer">500.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/decoration items/candles3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">AROMATHERAPHY CANDLES</div>
           <div class="card-footer">210.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/decoration items/fountain3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PLANT WATER FOUNTAIN</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/lamp3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CORRIDER LED LAMP</div>
            <div class="card-footer">1,408.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/handmade3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HANDMADE DREAMCATCHER</div>
            <div class="card-footer">500.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/fountain4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HOME WATER FOUNTAIN</div>
            <div class="card-footer">900.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/decoration items/idol4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">GANESH,LAKSHMI,SARASWATHI IDOLS</div>
           <div class="card-footer">230.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/decoration items/handmade4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HANDMADE WALLFRAMES</div>
           <div class="card-footer">1,000.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/candles4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HEART SHAPE WAX CANDLE</div>
            <div class="card-footer">200.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/decoration items/lamp4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CLASSIC TWISTER LAMP</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
    </div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/idol5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">LORD SHIVA FIBRE IDOL</div>
        <div class="card-footer">1,036.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/candles5.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">WEDDING CANDLE SET</div>
       <div class="card-footer">500.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/fountain5.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">HOME DECOR FOUNTAIN</div>
       <div class="card-footer">6,000.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/lamp5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">GLASS TABLE LAMP</div>
        <div class="card-footer">250.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/handmade5.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">WALL MOUNTED HANGING</div>
        <div class="card-footer">1,500.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/fountain6.jpeg" alt="no img" class="img">
        </div>
        <div class="card-body">BAMBOO WATER FOUNTAIN</div>
        <div class="card-footer">949.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/idol6.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">LORD VISHNU BRASS IDOL</div>
       <div class="card-footer">974.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/handmade6.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">PLASTIC BOTTLE FLOWERVASE</div>
       <div class="card-footer">200.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/candles6.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">PURPLE TEALIGHT CANDLE</div>
        <div class="card-footer">190.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/lamp6.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">ORANGE LIGHT LAMP</div>
        <div class="card-footer">300.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/idol7.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">DECORATIVE POOJAROOM IDOL</div>
        <div class="card-footer">3,165.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/candles7.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">BURNING CANDLES 50PCS</div>
       <div class="card-footer">1,500.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/fountain7.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">GANESH WATER FOUNTAIN</div>
       <div class="card-footer">580.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/lamp7.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">TEA LIGHT HOLDER</div>
        <div class="card-footer">1,500.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/handmade7.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">PLASTIC BOTTLE CRAFT</div>
        <div class="card-footer">1,200.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/fountain8.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">BUDHA WATER FOUNTAIN</div>
        <div class="card-footer">900.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/idol8.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">LORD SAIBABA IDOL</div>
       <div class="card-footer">600.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/handmade8.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">PAPERMADE FLOWERVASE</div>
       <div class="card-footer">500.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/candles8.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">RED WAX CANDLE</div>
        <div class="card-footer">499.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/lamp8.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">RALENTLESS TABLE LAMP</div>
        <div class="card-footer">12,199.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/idol9.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">RAMDARBAR IDOL</div>
        <div class="card-footer">850.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/candles9.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">HANDMADE CANDLES 3PCS</div>
       <div class="card-footer">600.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/fountain9.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">CERAMICINDOOR WATER FOUNTAIN</div>
       <div class="card-footer">1,500.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/lamp9.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">EFFORTLESS TABLE LAMP</div>
        <div class="card-footer">6,950.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/handmade9.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">CERAMIC LONG VASE</div>
        <div class="card-footer">999.00 INR</div>
    </div>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/fountain10.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">RADHAKRISHNA WATER FOUNTAIN</div>
        <div class="card-footer">150.00 INR</div>
    </div>
    <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/idol10.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">BUDHA IDOL 10INCHES</div>
       <div class="card-footer">3,980.00 INR</div>
   </div>
   <div class="card">
       <div class="card-header">
           <img src="assets/decoration items/handmade10.jpg" alt="no img" class="img">
       </div>
       <div class="card-body">BAMBOOSTICK FLOWERVASE</div>
       <div class="card-footer">100.00 INR</div>
   </div>
   <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/candles10.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">CREAM WAX CANDLE</div>
        <div class="card-footer">99.00 INR</div>
    </div>
    <div class="card">
        <div class="card-header">
            <img src="assets/decoration items/lamp10.jpg" alt="no img" class="img">
        </div>
        <div class="card-body">CRYSTAL ROUND TABLE LAMP</div>
        <div class="card-footer">2,999.00 INR</div>
    </div>
</div>
</body>
</html>
