<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WOODEN ITEMS</h1>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wardrobes1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">2 DOOR WARDROBE WITH DRAWER</div>
            <div class="card-footer">8,544.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wallshelf1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">BRAND ERA WOODEN WALLSHELF</div>
           <div class="card-footer">769.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/tables1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">WAKEFIT LIBERICA COFFEE TABLE</div>
           <div class="card-footer">4,234.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/idols1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">WOODEN LORD KRISHNA IDOL</div>
            <div class="card-footer">6,500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">WOODEN DOUBLE DOOR</div>
            <div class="card-footer">450/SQ.FEET</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">INTERIOR WOODEN DOOR</div>
            <div class="card-footer">525/SQ.FEET</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/idols2.jpeg" alt="no img" class="img">
           </div>
           <div class="card-body">WOODEN GANGUAR IDOL</div>
           <div class="card-footer">7,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wardrobes2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">4-DOOR WARDROBES</div>
           <div class="card-footer">24,299.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/tables2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ALLIN STUDY TABLE</div>
            <div class="card-footer">15,089.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wallshelf2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">WALLMART TV SETTOP BOX SHELF</div>
            <div class="card-footer">797.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wardrobes3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">2DOOR SCION WARDROBE</div>
            <div class="card-footer">19,999.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wallshelf3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">TIBER WALL SHELF</div>
           <div class="card-footer">3,989.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/tables3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">LYNTON WOODEN STUDY TABLE</div>
           <div class="card-footer">17,799.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/idols3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ELEPHANT WOODEN IDOL</div>
            <div class="card-footer">1,500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors3.png" alt="no img" class="img">
            </div>
            <div class="card-body">MAIN ENTRANCE WOODEN FRONT DOOR</div>
            <div class="card-footer">1,000/SQ.FEET</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">LAMINATED WOODEN DOOR</div>
            <div class="card-footer">500/SQ.FEET</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/idols4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">DECORATIVE LORD GANESHA</div>
           <div class="card-footer">799.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wardrobes4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">3DOOR EARICA WARDROBE</div>
           <div class="card-footer">26,999.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/tables4.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">WOODEN TABLE</div>
            <div class="card-footer">3,500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wallshelf4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GRIZZ WALL SHELF</div>
            <div class="card-footer">4,600.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">LUXURY WOODEN DOOR</div>
            <div class="card-footer">4,000.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/idols5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">DANCING IDOLS</div>
           <div class="card-footer">6,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wardrobes5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">ROYALLOOK3DOOR ASTER WARDROBE</div>
           <div class="card-footer">32,000.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/tables5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">WOODEN TABLE FROM BANGALORE</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wallshelf5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">JOBITTER WALLSHELF</div>
            <div class="card-footer">749.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wardrobes6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">DEZINE 6.5FEET WOOD WARDROBE</div>
            <div class="card-footer">23,750.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wallshelf6.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">INTERSECTING WALLSHELF</div>
           <div class="card-footer">1,500.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/tables6.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">RESTAURENT WOODEN TABLE</div>
           <div class="card-footer">10,000.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/idols6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PEACOCKS IDOL</div>
            <div class="card-footer">1,500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CASEN WOODN DOOR</div>
            <div class="card-footer">600/SQ.FEET</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">WOODEN SINGLE DOOR WITH DESIGN</div>
            <div class="card-footer">500/SQ.FEET</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/idols7.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">WHITEHORSE IDOL</div>
           <div class="card-footer">2,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wardrobes7.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">4DOOR GERMAN OAKFINISH</div>
           <div class="card-footer">53,999.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/tables7.png" alt="no img" class="img">
            </div>
            <div class="card-body">ROUND WOODEN TABLE</div>
            <div class="card-footer">5,000.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wallshelf7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">3D ROYALTY SHELVES</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wardrobes8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ROYALOAK LEVANTE 3DOOR WARDROBE</div>
            <div class="card-footer">22,000.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wallshelf8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SHIP BACKLIT WOOD WALLSHELF</div>
           <div class="card-footer">5,500.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/tables8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">NEW MODAL WOODEN TABLE</div>
           <div class="card-footer">3,000.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/idols8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SHOWPIECE CRAVES IDOL</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">NEW MODAL DOOR WITH WINDOWS</div>
            <div class="card-footer">800/SQ.FEET</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SOLID WOODEN DOOR</div>
            <div class="card-footer">300/SQ.FEET</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/idols9.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">VINTAGE HAND CARVEL</div>
           <div class="card-footer">2,500.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wardrobes9.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">3DOOR ENNGINEERED MILKYWAY WARDROBE</div>
           <div class="card-footer">75,799.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/tables9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ANTIQUE WOODEN TABLE</div>
            <div class="card-footer">5,000.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wallshelf9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">HOMEWOOD WALL SHELF</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/doors10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">UNIQUE WOODEN DOOR</div>
            <div class="card-footer">700/SQ.FEET</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/idols10.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">BUDHA SCULPTURE</div>
           <div class="card-footer">2,000.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src=" assets/wooden decors/wardrobes10.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">3DOOR CRAFTON WARDROBE</div>
           <div class="card-footer">30,700.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/tables10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SOLID HARDWOOD OUTDOOR TABLE</div>
            <div class="card-footer">1,000.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src=" assets/wooden decors/wallshelf10.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">SOLID WOODEN SHELF</div>
            <div class="card-footer">1,500.00 INR</div>
        </div>
    </div>
</body>
</html>
