<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div class="container">
            <label for="uname"><b>FIRSTNAME</b></label>
            <input type="text" placeholder="Enter First Name" name="uname" required>

            <label for="uname"><b>LASTNAME</b></label>
            <input type="text" placeholder="Enter Last Name" name="uname" required>

            <label for="mail"><b>E-MAIL ID</b></label>
            <input type="text" placeholder="Enter your E-mail Id" name="mail" required>
        
            <label for="psw"><b>PASSWORD</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label for="psw"><b>RE-ENTER PASSWORD</b></label>
            <input type="password" placeholder="Re-Enter Password" name="psw" required>
            <div style="background-color: white; margin: 10px 0px 10px 0px;">    
            <button type="submit" style="text-align: center;">REGISTER</button>
            </div>
            <div style="background-color: white; margin: 10px 0px 10px 0px;">
            <button type="button" style="background-color: red;" class="cancelbtn">CANCEL</button>
            </div>
        </div>
    </form>
</body>
</html>
