<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BATHROOM ACCESSORIES</h1>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/buckets1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">17L PLASTIC BUCKET</div>
            <div class="card-footer">399.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/taps1.jpeg" alt="no img" class="img">
           </div>
           <div class="card-body">STAINLESSSTEEL BATHROOM TAP</div>
           <div class="card-footer">275.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/soapbox1.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SOAP HOLDER DISH</div>
           <div class="card-footer">33/PIECE</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/brushstand1.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">WALLHANGING BRUSH HOLDER</div>
            <div class="card-footer">190.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stools.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PINK AND BLUE STOOLS</div>
            <div class="card-footer">70/PC</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stool2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">RECTANGULAR STOOLS</div>
            <div class="card-footer">133/PC</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/buckets2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PLASTIC GREY BUCKET</div>
           <div class="card-footer">899.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/brushstand2.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PLASTIC BRUSH STAND</div>
           <div class="card-footer">100.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/taps2.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">BRASS WASHBORN TAPS</div>
            <div class="card-footer">300.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/soapbox2.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SMILEY CARTOON SOAPBOX</div>
            <div class="card-footer">49.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/buckets3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">RED PLASTIC BUCKET</div>
            <div class="card-footer">499.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/taps3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">WALLCORD,HOTWATER TAP</div>
           <div class="card-footer">775.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/soapbox3.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">ALUMINIUM SOAP DISH</div>
           <div class="card-footer">210.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/brushstand3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ANTIQUE BRUSH STAND</div>
            <div class="card-footer">190.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stool3.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">WHITE BATHROOM STOOL</div>
            <div class="card-footer">150.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stool4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SMALL PINK BATHROOM STOOL</div>
            <div class="card-footer">100.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/buckets4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">4PC UNBREAKABLE BUCKET</div>
           <div class="card-footer">2,299.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/brushstand4.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">SMILEY PLASTIC BRUSH STAND</div>
           <div class="card-footer">179.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/taps4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">STAINLESSSTEEL 2TYPE TAP</div>
            <div class="card-footer">500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/soapbox4.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PLASTIC BATHROOM SOAPBOX</div>
            <div class="card-footer">72.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/buckets5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PRINTED BATH BUCKET</div>
            <div class="card-footer">799.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/taps5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">POPULAR COPPER BATHROOM TAP</div>
           <div class="card-footer">775.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/soapbox5.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">BABY SOAP DISH</div>
           <div class="card-footer">200.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/brushstand5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PINK,WHITE BRUSH HOLDER</div>
            <div class="card-footer">90.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stool5.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">ASH COLOUR PLASTIC STOOL</div>
            <div class="card-footer">150.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stool6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">CREAM NAYASA STOOLS</div>
            <div class="card-footer">251.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/buckets6.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">X-LARGE BATH BUCKET</div>
           <div class="card-footer">999.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/brushstand6.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">BAMBOO BRUSH STAND</div>
           <div class="card-footer">300.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/taps6.jpeg" alt="no img" class="img">
            </div>
            <div class="card-body">BAMBOO SHAPE BRASS TAPS</div>
            <div class="card-footer">600.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/soapbox6.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">STAINLESS STEEL SOAPBOX</div>
            <div class="card-footer">149.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/buckets7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PREMIUM SUNSHINE PLASTIC BUCKET</div>
            <div class="card-footer">399.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/taps7.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">HOT,COLD WATER BATHROOM TAP</div>
           <div class="card-footer">675.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/soapbox7.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">ROSERED,WHITE SOAP DISH</div>
           <div class="card-footer">200.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/brushstand7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">BROWN,CREAM BRUSH HOLDER</div>
            <div class="card-footer">170.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stool7.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GEEN,BLUE PLASTIC STOOL</div>
            <div class="card-footer">200.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stool8.jp.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">DIAMOND SHAPE STOOL</div>
            <div class="card-footer">999.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/buckets8.jpeg" alt="no img" class="img">
           </div>
           <div class="card-body">MARVI DESIGNER BUCKET</div>
           <div class="card-footer">999.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/brushstand8.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">STAINLESS STEEL BRUSH STAND</div>
           <div class="card-footer">480.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/taps8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SPRING SINK TAPS</div>
            <div class="card-footer">500.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/soapbox8.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">PLASTIC STICKER SOAPBOX</div>
            <div class="card-footer">179.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/buckets9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SOLID ORBIT MUGS</div>
            <div class="card-footer">99.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/taps9.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">ROUTINE BATHROOM TAP</div>
           <div class="card-footer">375.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/soapbox9.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">YELLOW,GREEN PLASTIC SOAP HOLDER</div>
           <div class="card-footer">330.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/brushstand9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">TOOTH SHAPE BRUSH HOLDER</div>
            <div class="card-footer">490.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stool9.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GREEN AND BROWN STOOLS</div>
            <div class="card-footer">600.00 INR</div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/stool10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">GREY STEPS STOOL</div>
            <div class="card-footer">700.00 INR</div>
        </div>
        <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/buckets10.jpg" alt="no img" class="img">
           </div>
           <div class="card-body">PETROLIA STEEL BUCKET</div>
           <div class="card-footer">2,499.00 INR</div>
       </div>
       <div class="card">
           <div class="card-header">
               <img src="assets/bathroom accessories/brushstand10.jpeg" alt="no img" class="img">
           </div>
           <div class="card-body">PLASTIC BRUSH HOLDER</div>
           <div class="card-footer">100.00 INR</div>
       </div>
       <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/taps10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">SWAN SHAPE GOLDEN TAP</div>
            <div class="card-footer">700.00 INR</div>
        </div>
        <div class="card">
            <div class="card-header">
                <img src="assets/bathroom accessories/soapbox10.jpg" alt="no img" class="img">
            </div>
            <div class="card-body">LEAF SHAPE SOAPBOX</div>
            <div class="card-footer">400.00 INR</div>
        </div>
    </div>
</body>
</html>
