<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="padding: 30px; margin:30px 200px;">
        <form>
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="country">Country</label>
          <select id="country" name="country">
            <option value="select">Select</option>
            <option value="india">India</option>
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          <label for="subject">Subject</label>
          <textarea id="subject" name="comments" placeholder="Write your comments.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
        </form>
      </div>
      <br>
      <h1 style="text-align: center; color: darkmagenta;">Call us or chat us on</h1>
      <h2 style="text-align: center; color: darkmagenta;">+91-9515287784</h2>
      <br>
      <h1 style="text-align: center; color: darkmagenta;">Mail us on</h1>
      <h2 style="text-align: center; color: darkmagenta;">yadlapallylavanya12@gmail.com</h2>
      <p style="color: darkmagenta; text-align: center;">We typically reply in 24-48 hours.</p>
      
</body>
</html>